<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" >
      <img
        src= "images/e_logo.webp"
        height="40"
        width="40"
        alt="Expense Logo"
        loading="lazy"
        style="margin-top: -1px; margin-left: -234px;"
      />
    </a>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" style="padding-left: 0.5rem; margin-left: -180px; color: rgb(0 0 0);">Home</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center" style="margin-right: -250px;">
        <!-- <button type="button" class="btn btn-link px-3 me-2">
          Login
        </button> -->
        <button type="button" class="btn btn-primary me-3">
          Logout
        </button>
    
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->