<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('../../partials/head') %> 
</head>
<body>

    <%- include('../../partials/header.ejs') %> 

      <hr>
      <div class="table-editor" id="table_1" data-entries="5" data-entries-options="[5, 10, 15]">
        <table class="table">
          <thead>
            <tr>
              <th class="th-sm" data-width="250">Company</th>
              <th class="th-sm" data-width="250" data-sort="false">Address</th>
              <th class="th-sm" data-width="250" data-sort="false">Expense</th>
              <th class="th-sm" data-width="250" data-sort="false">Edit</th>
              <th class="th-sm" data-width="250" data-sort="false">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vatsal</td>
              <td>Park Lane 2, USA</td>
              <td>30</td>
            </tr>
          </tbody>
        </table>
      </div>

    <%- include('../../partials/footer.ejs') %> 
    
</body>
</html>